[Desktop Entry]
Name=Navop
Comment=Navop - Database, SSH, Terminal, AI Tools
Exec=navop
Icon=navop
Type=Application
Categories=Development;Utility;Database;
Terminal=false
StartupWMClass=navop
MimeType=
Keywords=database;ssh;sftp;terminal;redis;mongodb;postgresql;mysql;
