<Wix
  xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package
    Name="Navop"
    Manufacturer="feigeCode"
    Version="$(Version)"
    UpgradeCode="2EAB58E6-27F7-4D97-81A1-7CE4B50FA294"
    Language="1033"
    Codepage="936"
    InstallerVersion="500"
    Scope="perUser">
    <MajorUpgrade DowngradeErrorMessage="A newer version of Navop is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="NavopIcon" SourceFile="$(IconPath)" />
    <Property Id="ARPPRODUCTICON" Value="NavopIcon" />
    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLROOT" />
    <WixVariable
      Id="WixUILicenseRtf"
      Value="$(sys.SOURCEFILEDIR)navop-license.rtf" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="INSTALLROOT" Name="Programs">
        <Directory Id="INSTALLFOLDER" Name="Navop" />
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="Navop" />
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder" />

    <Feature Id="ProductFeature" Title="Navop" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Package>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ApplicationExecutable" Guid="*">
        <File Id="NavopExecutable" Source="$(SourceDir)\navop.exe" KeyPath="yes" />
      </Component>
      <Component Id="StartMenuShortcutComponent" Directory="ApplicationProgramsFolder" Guid="*">
        <Shortcut
          Id="StartMenuShortcut"
          Name="Navop"
          Description="Navop - Database, SSH, Terminal, AI Tools"
          Target="[#NavopExecutable]"
          WorkingDirectory="INSTALLFOLDER"
          Icon="NavopIcon"
          Advertise="no" />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue
          Id="StartMenuShortcutRegistry"
          Root="HKCU"
          Key="Software\Navop"
          Name="StartMenuShortcutInstalled"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
      <Component Id="DesktopShortcutComponent" Directory="DesktopFolder" Guid="*">
        <Shortcut
          Id="DesktopShortcut"
          Name="Navop"
          Description="Navop - Database, SSH, Terminal, AI Tools"
          Target="[#NavopExecutable]"
          WorkingDirectory="INSTALLFOLDER"
          Icon="NavopIcon"
          Advertise="no" />
        <RegistryValue
          Id="DesktopShortcutRegistry"
          Root="HKCU"
          Key="Software\Navop"
          Name="DesktopShortcutInstalled"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
